/* 프로필 맨위바 */
.developer-bar {
    width: 640px;
    height: 63px;
    margin-top: 35px;
    display: flex;
    justify-content: end;
    background: linear-gradient(to right, #2f5061, #60a4c7);
    box-shadow: 3px 5px 5px  rgba(0,0,0,0.15);
    flex-wrap: wrap; 
     
}

/* 프로필 바안에 글씨  */
.developer {
    font-size: 20px;
    margin-top: 8px;
    margin-right: 20px;
    color: rgb(253, 248, 248);
    
}

/* 프로필 / 이름 박스 */
.name {
    display: flex; 
    align-items: center;
    position: absolute;
}

/* 프로필 이름바 */
.name-bar {
    width: 1640px;
    height: 126px;
    background-color: rgb(88, 139, 122);
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #2f5061, #60a4c7);
    box-shadow: 3px 5px 5px  rgba(0,0,0,0.20);
    margin-top: 90px;
    position: absolute;
}

/* 프로필 (박스) */
.profile-box {
    margin-left: 12px;
    width: 194px; 
    height: 191px;
    /* background-color: rgb(207, 163, 163); */
    
}

/* 프로필 흰색 */
.profile-white {
    width: 194px;
    height: 191px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 5px  rgba(0,0,0,0.15);;
    
}

/* 프로필 회색 */
.profile-grey {
    width: 95%;
    height: 95%;
    background-color: rgb(184, 178, 178);
    border-radius: 50%;
    overflow: hidden;
}

/* 프로필 이미지 */
.profile-img {
    width: 220px;
    height: 220px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}



/* 한/영 이름박스 */
.name-center {
    display: flex;
    gap: 20px;
}

/* 한) 이름 */
.kr-name {
    margin-left: 130px;
    font-size: 46px;
    font-weight: 800;
    color: white;
}

/* 영) 이름 */
.en-name {
    margin-top: 36px;
    color: white;

}
/* 왼쪽 영역 박스 */
.left-bar {
    width: 240px;
    height: 1600px;
    background: linear-gradient(to bottom, #336E72, #58BDC3,#62D0D8,#336E72);
    box-shadow: 5px 0 3px rgba(0,0,0,0.55);
    
}

/* 왼쪽 영역 + 프로필 박스 */
.left-profile-bar {
    position: absolute;
}

/* 왼쪽영역 중앙글 전체박스 */

.profile-all {
    position: absolute;
}

/* 텍스트 영역 박스 */
.left-text {
    display: flex;
    flex-direction: column;
    gap: 80px;
    
}

/* 자기소개 */
.introduction {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 300px ;
    
}

/* 자기소개 줄 */
.top-introduction, .center-skill, .center-contact, .center-Tools {
    font-size: 20px;
    font-weight: 800;
    
}

/* 자기소개 헤더 박스  */
.top-introduction {
    display: flex;
    justify-content: center;
    margin-bottom: 20px ;
    
}

/* 자기소개 아이콘 */
.introduction-svg {
    margin-right: 10px
}

/* 연락처 정렬 & 폰트사이즈 */
.contact, .tools, .lamguage, .skill{
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 40px;
}

/* 연락처 박스 */
.center-contact {
    display: flex;
    justify-content: center;
}

/* 연락처 아이콘 */
.contact-svg {
    margin-top: 3px;
    margin-right: 10px;
}

/* 언어 */
.bottom-lamguage {
    display: flex;
    justify-content: center;
    font-size: 20px ;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
}

/* 언어 아이콘 */
.lamguage-svg {
    margin-top: 2px;
    margin-right: 10px
}

/* 기술 헤더 박스 */
.center-skill {
    margin-right: 30px;
    display: flex;
    justify-content: center;
}

/* 기술 아이콘 */
.skill-svg {
    margin-top: 2px;
    margin-right: 10px;
}

/* 툴 헤더 */
.center-tools {
    display: flex;
    justify-content: center;
}

/* 자기소개 줄 아이콘 정렬 */
.introduction-svg, .lamguage-svg, .tools-svg, .skill-svg, .contact-svg {
    margin-top: 4px;
    width: 25px;
    height: 25px;
}

/*  본문 1열 */
.first-column, .second-column {
    display: flex;
    flex-direction: column;
    margin-top: 350px;
    margin-left: 80px;
    font-size: 30px;
    gap: 130px;
    
}

/* 내용 정렬 */
.centent {
    display: flex;
}

/* 교육, 활용 아이콘 */
.education-block, .application-block {
    margin-right: 40px;
}


/* 본문 2번째 열 */

.second-column {
    z-index: 100;
}

/* 중간 행 높이 */
.learning {
    display: flex;
    margin-top: 130px;
}

/*  헤더(류) 정렬  */
.school-left, .education-left, .university, .learning-left, .goals-left, .application-left, .certificate-left {
    width: 700px;
    font-size: 22px;
    display: flex;
    align-items: center;
    /* background-color: #8eb5c9; */
}

/* 목표 정렬 */
.goals-left {
    display: flex;
}

/* 블록 네모박스 */
.school-block, .university-block, .learning-block, .goals-block, .certificate-block{
    width: 20px;
    height: 20px;
    margin-right: 40px;
    background-color: #141414;
    border-radius: 20px 0 0 20px ;
    
}

/* 헤더 아이콘  */
.education-ikcn, .application-ikon {
    width: 35px;
    height: 25px;
}

/* 고등학교,대학교 등 텍스트 공백 */
.school-text, .university-text, .learning-text, .goals-text, .certificate-text {
    margin-left: 100px;
}

/* 글자간(행) 높이 */
.graduation, .learning-text, .goals-text, .certificate-text {
    line-height: 1.8;
}

/* 전공전환 사유 높낮이 */
.reason {
    line-height: 1.2;
}

/* 헤더 위아래 공백 */
.education, .learning, .application  {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.school-text, .university-left, .learning-text, .goals-text, .certificate-text {
    font-size: 18px;
    font-weight: 500;
}

/* .all {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 auto;
    
        
    } */

/* 전체 */
.all-bars {
    display: flex;
    /* max-width: 1280px; */
    /* font-size: clamp(1.4rem, 3vw, 2.4rem); */
}

.en-svg {
    position: absolute;
}

/* j svg */
.j-bar {
    width: 217px;
    height: 177px;  
    position: absolute;
    margin-top: 990px;
    margin-left: 1170px;
    
}

/* c svg */

.c-bar {
    width: 140px;
    height: 177px;  
    position: absolute;
    margin-top: 870px;
    margin-left: 1040px;
    z-index: 10;
}
/* h svg */
.h-bar {
    width: 100px;
    height: 100px;  
    position: absolute;
    margin-top: 870px;
    margin-left: 1400px;
    
}
/* s svg */
.s-bar {
    width: 67px;
    height: 177px;  
    position: absolute;
    margin-top: 1100px;
    margin-left: 1400px;
    
}


/* 더보기 메모박스 */
.memo-box {
    display: flex;
}

/* 더보기 글 */
.memo-btn {
    margin-left: 100px;
    font-weight: 500;
}

/* 더보기 안에 텍스트 */
.memo-text {
    width: 400px;
    height: 100px;
    margin-top: 20px;
    background-color: #f1f0f0b0;
    pointer-events: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* 더보기 화살표 정렬 */
.memo-box  .triangular {
    display: flex;
    flex-direction: column;
}

/* 더보기 아래 화살표 */
.triangular-box {
    width: 8px;
    height: 8px;
    margin-left: 5px;
    margin-top: 8px;
    border: 2px solid;
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
    
}

/* 더보기 누른 상태 보이게 */
.triangular-box:hover + .memo-text {
    opacity: 1;
    pointer-events: auto;
}

/* 크마 표시  */
.merry-christmas {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    width: 800px;
    height: 60px;
    background-color: hsl(200, 35%, 28%);
    color: #fff;
    position: absolute;
    transform: scaleX(0.01);
    transform-origin: left;
    /* opacity: 0; */
    transition: transform 0.9s ease;
}

/* 호버 시 크마 표시 */
.merry-christmas:hover {
        transform: scaleX(1.5);
        /* opacity: 1; */
    }

/* 호버 시 확대 */
.profile-img {
    transition: transform 0.3s ease;
     transform-origin: 55% 40%;
}

/* 호버 시 확대2 */
.profile-img:hover {
    transform: scale(3)
}
@media (max-width:1280px){
.all {
        display: flex;
        align-items: center;
        position: relative;
        /* margin: 0 auto; */
        font-size: clamp(0.95rem, 2.2vw, 1.1rem);
        
    }

        /* 전체 */
        .all-bars {
        display: flex;
        max-width: 1280px;
    }

    /* 왼쪽 프필바 */
    .left-bar {
        height: 2500px;
    }
    
    /* 언어 고정 */
    .lamguage {
        margin-top: 900px;
    }

    /* 내용 위치 */
    .second-column {
        margin-top: 200px;
    }

    /* 내용 아래정렬 */
    .centent {
        display: flex;
        flex-direction: column;
    }
    
    /* 헤더 폰트 사이즈 */
    .school-left, .education-left, .university, .learning-left, .goals-left, .application-left, .certificate-left {
        font-size: 1.8rem;

    }

      /* 리스트 점 제거  */
     .en-svg {

       display: none;
    }

    /* 이름 바 */
    .name-bar {
        width: 1200px;
        
    }

     .introduction-text {
        font-size: 19px;
    }

    .contact-header, .introduction-header, .tools-header, .skill-header {
        font-size: 22opx;
  }
  

}


@media (max-width:769px) {
    .all {
        margin:0;
        word-break: keep-all;
        overflow-wrap: break-word;
        font-size: clamp(0.95rem, 2.2vw, 1.1rem);
    }
    .left-bar {
        height: 100%
    }
    
    .lamguage {
        margin-top: 1500px;
    }

    .second-column {
        margin-top: 200px;
    }
    

    /* 이름 중앙 */
    .kr-name, .en-name {
        margin-left: 0;
        margin-top: 0;
    }
    
    .name-center {
        margin-left: 170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    /* 이름 바 */
    .name-bar {
        width: 900px;
    }



    /* 헤더 부분 */
    .school-left, .education-left, .university, .learning-left, .goals-left, .application-left, .certificate-left {
        padding-right: 495px;
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        /* text-align: center; */
           
                     
 
    }


    /* 두번째 열 */
    .second-column {
        margin-top: 200px;
    }

    /* 크마표시 */
    .merry-christmas {
        width: 100%;
        
    }

    /* 영어 svg 제거 */
    .en-svg {

       display: none;
    }


   .school-left, .education-left, .university, .learning-left, .goals-left, .application-left, .certificate-left {
        font-size: 1.5 rem;
        line-height: 1.6;
    }


    .school-text, .university-left, .learning-text, .goals-text, .certificate-text,.list {
        
        font-size: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style: none;
        text-align: center;
        padding-right: 200px;
        margin: 0;

        
    }
    
    /* 교육,활용 아이콘 */
   .education-ikon, .application-block {
    width: 45px;
    height: 55px;
    margin-left: 40px ;
    margin-bottom: 20px;
    
    }

    /* 본문 헤더 아이콘 정렬 */
    .education-left, .application-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .introduction-text {
        font-size: 19px;
    }
    
    .lamguage-svg, .tools-svg, .skill-svg, .contact-svg {
        margin-top: 6px;
        width: 28px;
        height: 28px;
    }

    .introduction-svg {
        width: 28px;
        height: 28px;
    }

    .school-text {
        margin-right: 80px;
    }

    .university-text {
        margin-right: 60px;
    }

    .school-left, .university-header {
        margin-left: 19px;
    }

    .learning-left {
        width: 100%;
      
    }

    .school-block, .university-block, .learning-block, .goals-block, .certificate-block {
        width: 10px;
        height: 20px;
    }


  .contact-header, .introduction-header, .tools-header, .skill-header {
        font-size: 25px;
  }
  
   .memo-box {
    display: flex;
    flex-direction: column;

   }

   .memo-btn {
    margin-right: 450px;
    font-size: 18px;
   }

   .triangular-box {
    margin-left: 132px;
   }
s
  
}